@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family:'Montserrat';

.v-application {
[class*='text-'] {
  //color: #36405a;
  font-family: $font-family, sans-serif !important;
}
  font-family: $font-family, sans-serif !important;
}

.theme--dark.v-application {
  background-color: var(--v-background-base, #41434B) !important;
}
.card-bg-details{
  background-color: #41434B !important;
}
.card-size-min{
  min-height: 486px !important;
}
.v-list-item:hover {
  background-color: #2AA3AF !important;
}
.item--active::before {
  opacity: 1;
}
.theme--dark.v-list-item--active:hover::before, .theme--dark.v-list-item--active::before {
  opacity: 1;
  color: #00F0FF !important;
}
.v-list-item--link:before {
  color: #00F0FF !important;
  background-color: #41434B !important;
}
.menu-rectangle:hover{
  width: 10px;
  height: 60px;
  background-color: #FA00FF !important;
}
.menu-list{
  background-color: #41434B;
  &hover{
    background-color: #2AA3AF;
  }
}
