// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

.dark-alfa-color {
    color:#545760;
}
.content-bg{
    background-color: #41434B;
}
.sidebar-bg{
    background-color: #545760 !important;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 58.62%, rgba(0, 0, 0, 0.2) 91.75%), #545760 !important;
}
.header-bg{
    background-color: #41434B !important;
}